html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

quote {
  font-style: italic;
  margin-right: 2px;
}
quote:before {
  content: '\201c';
}
quote:after {
  content: '\201d';
}

html, body {
  color: #aaaeb2;
  background-color: #2b353e;
}

body {
  font-family: 'Lato', sans-serif;
}

.hidden {
  display: none;
}

.no-us {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.t-all {
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

html, body, header, main, footer, h1, h2, h3, h4, h5, h6, #powered-by, #powered-by * {
  margin: 0;
  padding: 0;
}

header, h1, h2, h4, h6, main, #powered-by li {
  text-align: center;
}

header {
  background-color: #34414a;
  min-height: 514px;
  background-image: url(/img/benja-pattern.png);
}

header > img {
  margin: 42px auto;
}

header, main, #powered-by {
  border-bottom: 1px solid #1b2228;
}

h1 {
  font-size: 32px;
  letter-spacing: 1px;
  color: #fff;
}

h1 strong {
  font-weight: 400;
}

h1 span {
  font-weight: 300;
}

h2 {
  font-weight: 400;
  font-size: 18px;
  margin-top: 12px;
  color: #aeb3b7;
}

h2 abbr[title] {
  text-decoration: none;
  border-bottom: 1px dotted #2b353e;
  cursor: help;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #6a9eb6;
}

main > section {
  margin: 42px auto auto auto;
  text-align: left;
}

main {
  padding: 0 28px 42px 28px;
}

main > section,
#powered-by ul {
  max-width: 942px;
}

main > section > p,
#powered-by .description,
#carousel .board {
  font-weight: 400;
  line-height: 28px;
}

footer {
  background-color: #2a343d;
}

#carousel {
  position: relative;
  margin: -160px auto auto auto;
  max-width: 760px;
  min-height: 320px;
}

#carousel .scene-3d {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-perspective: 920px;
  -moz-perspective: 920px;
  -ms-perspective: 920px;
  perspective: 920px;
}

#carousel .skeweed-bg {
  width: 100%;
  height: 100%;
  background-color: #1b2228;
  -webkit-animation: hypno 10s infinite;
  -moz-animation: hypno 10s infinite;
  animation: hypno 10s infinite ease-in-out;
}

@-webkit-keyframes hypno {
  0% { -webkit-transform: rotateY(-5deg) translateX(-10px); }
  50% { -webkit-transform: rotateY(-25deg) translateX(-40px); }
  100% { -webkit-transform: rotateY(-5deg) translateX(-10px); }
}

@-moz-keyframes hypno {
  0% { -moz-transform: rotateY(-5deg) translateX(-10px); }
  50% { -moz-transform: rotateY(-25deg) translateX(-40px); }
  100% { -moz-transform: rotateY(-5deg) translateX(-10px); }
}

@keyframes hypno {
  0% { transform: rotateY(-5deg) translateX(-10px); }
  50% { transform: rotateY(-25deg) translateX(-40px); }
  100% { transform: rotateY(-5deg) translateX(-10px); }
}

#carousel .skeweed-bg:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  margin-left: -29px;
  margin-top: -30px;
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
  border-right: 30px solid #1b2228;
}

#carousel .skeweed-bg:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  margin-right: -19px;
  margin-top: -20px;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 20px solid #1b2228;
}

/*
#carousel .skeweed-bg:hover:before {
  border-right-color: #000;
}
#carousel .skeweed-bg:hover:after {
  border-left-color: #000;
}
*/

#carousel .board {
  position: relative;
  padding: 28px 28px 0 40%;
  background: transparent url(/img/boards/rpi2.png) center left no-repeat;
  background-size: auto 50%;
  text-align: left;
  color: #aeb3b7;
}

#carousel .board strong {
  color: #d5d7d8;
  font-weight: 400;
  font-size: 21px;
  display: block;
  text-align: center;
}

#carousel .board > a {
  display: block;
  text-align: center;
  font-weight: 600;
  padding: 8px;
  margin-top: 16px;
  background-color: #212a31;
  border-radius: 4px;
}

#carousel .board > a:hover {
  background-color: #2b353e;
}

#carousel .board > a.disabled {
  color: #313e47;
}

#powered-by {
  background-color: #212a31;
  padding: 28px 0;
}

#powered-by ul,
#powered-by li {
  list-style: none;
}

#powered-by ul {
  margin: 28px auto;
}

#powered-by li {
  width: 32%;
  display: inline-block;
}

#powered-by img {
  margin: auto;
  width: 75%;
  border: 0;
}

#powered-by .description {
  background: #313e47;
  margin: 0 auto;
  max-width: 842px;
  border-radius: 4px;
  padding: 28px;
  position: relative;
}

#powered-by .description .arrow {
  position: absolute;
  top: -10px;
  margin-left: -17px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #313e47;
}

h3 {
  color: #d5d7d8;
  font-size: 24px;
  font-weight: 600;
}

h4 {
  color: #646a6f;
  font-weight: 600;
  font-size: 13px;
}

h6 {
  line-height: 50px;
  font-size: 13px;
  font-weight: 600;
}

@media (max-width: 719px) {
  #carousel .board {
    padding: 28px 28px 0 43%;
    background-size: auto 47%;
  }
}

@media (max-width: 639px) {
  #carousel .skeweed-bg:before,
  #carousel .skeweed-bg:after {
    display: none;
  }
  @-webkit-keyframes hypno {
    0% { -webkit-transform: rotateY(-5deg) translateX(0px); }
    50% { -webkit-transform: rotateY(-20deg) translateX(-10px); }
    100% { -webkit-transform: rotateY(-5deg) translateX(0px); }
  }

  @-moz-keyframes hypno {
    0% { -moz-transform: rotateY(-5deg) translateX(0px); }
    50% { -moz-transform: rotateY(-20deg) translateX(-10px); }
    100% { -moz-transform: rotateY(-5deg) translateX(0px); }
  }

  @keyframes hypno {
    0% { transform: rotateY(-5deg) translateX(0px); }
    50% { transform: rotateY(-20deg) translateX(-10px); }
    100% { transform: rotateY(-5deg) translateX(0px); }
  }
  #carousel .board {
    padding: 64px 28px 14px 28px;
    background: transparent url(/img/boards/rpi2.png) center 14px no-repeat;
    background-size: auto 40px;
  }
  header {
    min-height: 400px;
  }
  header > img {
    margin: 28px auto 16px auto;
    height: 92px;
  }
  h1 strong:after {
    content: '.';
    font-weight: 300;
  }
  h1 span {
    display: none;
  }
  h1:after {
    content: 'Bootable Electron Node JS Application';
    display: block;
    font-weight: 300;
    font-size: 16px;
  }
  h2 {
    display: none;
  }
}