[Unit]
Description=Weston launcher
After=systemd-user-sessions.service

[Service]
User=benja
ExecStart=/usr/bin/weston-launch
Restart=always
RestartSec=10

[Install]
Alias=display-manager.service
WantedBy=graphical.target